.custom-properties-button {
    background-color: #B84644 !important;
    color: white;
    padding: 10px !important;
    padding-left: 20px;
    padding-right: 20px;
    border-color: #B84644 !important;
}

.custom-properties-button:hover {
    background-color: #B84644 !important;
    border-color: #B84644 !important;
}

.custom-pagination {
    text-decoration: none;
    color: #B84644 !important
}