.property-editor {
    width: 100%;
    min-width: 0;
    background: white;
}

.property-editor .ql-editor {
    min-height: 300px;
    max-height: 600px;
    font-size: 1rem;
}

.property-editor[aria-disabled="true"] .ql-toolbar {
    pointer-events: none;
    opacity: .65;
}

.property-editor .ql-snow .ql-picker.ql-size .ql-picker-label::before,
.property-editor .ql-snow .ql-picker.ql-size .ql-picker-item::before { content: 'Normal'; }
.property-editor .ql-snow .ql-picker.ql-size [data-value="small"]::before { content: 'Pequeño'; }
.property-editor .ql-snow .ql-picker.ql-size [data-value="large"]::before { content: 'Grande'; }
.property-editor .ql-snow .ql-picker.ql-size [data-value="huge"]::before { content: 'Muy grande'; }
.property-editor .ql-snow .ql-picker.ql-header .ql-picker-label::before,
.property-editor .ql-snow .ql-picker.ql-header .ql-picker-item::before { content: 'Párrafo'; }
.property-editor .ql-snow .ql-picker.ql-header [data-value="1"]::before { content: 'Título 1'; }
.property-editor .ql-snow .ql-picker.ql-header [data-value="2"]::before { content: 'Título 2'; }
.property-editor .ql-snow .ql-picker.ql-header [data-value="3"]::before { content: 'Título 3'; }
.property-editor .ql-snow .ql-picker.ql-header [data-value="4"]::before { content: 'Título 4'; }
.property-editor .ql-snow .ql-picker.ql-header [data-value="5"]::before { content: 'Título 5'; }
.property-editor .ql-snow .ql-picker.ql-header [data-value="6"]::before { content: 'Título 6'; }
